@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f0ece3;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(199, 177, 152,0.5);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.quote-text {
  font-size: 2.75rem;
}

.long-quote {
  font-size: 2rem;
}

.fa-quote-left {
  font-size: 4rem;
}
.fa-twitter{
  font-size: 1.5rem;
}
.quote-author {
  margin-top: 15px;
  font-family:'Cormorant Garamond', serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.button-container{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
button{
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  outline: none;
  border-radius: 10px;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(34, 40, 49,0.6);
}
button:hover{
  filter: brightness(110%);
}
button:active{
  transform: translate(0,0.2rem);
  box-shadow: 0 0.3rem rgba(34, 40, 49,0.6);
}

.twitter-button:hover{
  color: #38a1f3;
}
 footer{
  font-size: 18px;
  margin-top: 10px;
 
} 
footer a{
  color: #000000;
}
/* loader */
.loader {
  border: 12px solid #C7AE98; 
  border-top: 12px solid #C7AE98; 
  border-radius: 20%;
  width: 40px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:1000px) {
  .quote-container {
    margin: auto 10px;
  }
  .fa-quote-left {
    font-size: 2.25rem;
  }
  .quote-text {
    font-size: 1.5rem;
  }
  .long-quote {
    font-size: 1.25rem;
  }
  .quote-author{
    font-size: 1.75rem;
  }
  footer{
    font-size:16px;
}
}
